@import "@/styles/_index";
@import "@/styles/_media";

@keyframes bottom-up {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

.container {
  width: 200px;
  padding: 10px;
  padding-top: 45px;
  color: $white-100;
  white-space: nowrap;
  background-color: $bg-black-100;

  @include text-normal;

  @include respond-to(tablet) {
    min-width: 180px;

    @include text-sm;
  }

  @include respond-to(mobile) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100vh;
    padding: 10px;
    padding-top: 60px;
    animation: bottom-up 1s;

    &.open {
      display: block;
    }
  }
}

.category {
  padding: 0 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 20px;
  color: $gray-200;
}

.item {
  padding: 15px 20px;
  cursor: pointer;
  transition:
    background-color 0.3s linear,
    color 0.3s linear;

  @include rounded-md;

  &:hover,
  &.selected {
    color: $white-100;

    @include color-box {
      @include rounded-md;

      padding: 14px 19px;
    }
  }
}

.closeButton {
  display: none;
  cursor: pointer;

  @include respond-to(mobile) {
    position: absolute;
    top: 60px;
    right: 20px;
    display: block;
  }
}
