@import "@/styles/_index";
@import "@/styles/_media";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 640px;
  padding: 100px 0;
  min-height: calc(100vh - 88.5px);

  @include respond-to(tablet) {
    max-width: minmax(440px, calc(100% - 304px));
  }

  @include respond-to(mobile) {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 0 20px;
  }
}
