@import "@/styles/_index";
@import "@/styles/_media";

.container {
  display: flex;
  width: 100%;
  margin-top: 1px;
}

.content {
  display: flex;
  width: 100%;

  @include respond-to(tablet) {
    flex-direction: column-reverse;
    width: calc(100% - 180px);
  }

  @include respond-to(mobile) {
    width: 100%;
  }
}

.categoryToggle {
  display: none;

  @include respond-to(mobile) {
    display: inline-block;
    width: fit-content;
    padding-left: 20px;
    background-color: transparent;
    border: none;
  }
}
