@import "@/styles/_index";
@import "@/styles/_media";

.container {
  display: flex;
  width: 100%;
  margin-top: 1px;
}

.content {
  display: flex;
  gap: 60px;
  width: 100%;
  padding: 60px 10px 20px 90px;

  @include respond-to(tablet) {
    flex-direction: column-reverse;
    gap: 22px;
    width: calc(100% - 180px);
    padding: 45px 30px 20px 25px;
  }

  @include respond-to(mobile) {
    width: 100%;
    padding: 45px 20px 20px;
  }
}

.categoryToggle {
  display: none;

  @include respond-to(mobile) {
    display: inline-block;
    width: fit-content;
    background-color: transparent;
    border: none;
  }
}
