@import "@/styles/_index";
@import "@/styles/_media";

.container {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 25px;
  font-weight: 600;
  border-radius: 8px;

  @include respond-to(mobile) {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.primary {
  color: $white-100;
  background: $blue-gradient;

  &:disabled {
    color: $gray-200;
    pointer-events: none;
    background: $gray-300;
  }
}

.secondary {
  color: transparent;
  background: linear-gradient(91deg, $blue-100 0%, $blue-200 100%);
  background-clip: text;
  border: 1px solid $blue-200;

  &:disabled {
    background: $gray-200;
    background-clip: text;
    border: 1px solid $gray-300;
    -webkit-text-fill-color: transparent;
  }
}

.tertiary {
  color: $gray-100;
  border: 1px solid $gray-100;

  &:disabled {
    color: $gray-200;
    pointer-events: none;
    border: 1px solid $gray-300;
  }
}
