@import "@/styles/_index";
@import "@/styles/_media";

.background {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 85px);
  padding-bottom: 50px;
  overflow: auto;
  color: $white-100;
  background-color: $bg-black-100;

  @include respond-to(tablet) {
    min-height: calc(100vh - 78px);
  }

  @include respond-to(mobile) {
    min-height: calc(100vh - 68px);
  }
}

.content {
  display: flex;
  gap: 20px;
  align-items: end;
  justify-content: center;
  padding-top: 60px;

  // margin-top: 60px;
  @include respond-to(tablet) {
    padding-top: 40px;
  }

  @include respond-to(mobile) {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-top: 30px;
  }
}

.inputBox {
  position: relative;
}

.compareChip {
  position: absolute;
  top: 20px;
  left: 20px;

  @include respond-to(tablet) {
    top: 11px;
    left: 13px;
  }
}

.input {
  gap: 10px;
  width: 350px;
  height: 70px;
  padding: 23px 20px;
  font-family: Pretendard;
  font-size: 16px;
  color: $white-100;
  background: $black-200;
  border: 1px solid $gray-300;
  border-radius: 8px;

  &:focus {
    border: 1px solid $blue-100;
    outline: none;
  }

  @include respond-to(tablet) {
    width: 240px;
    height: 55px;
    font-size: 14px;
  }

  @include respond-to(mobile) {
    width: 335px;
    height: 55px;
    padding: 23px 20px;
    border-radius: 8px;
  }
}

.text {
  margin-bottom: 10px;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  color: $white-100;
}

.button {
  gap: 10px;
  width: 200px;
  height: 70px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 600;
  color: $white-100;
  background: linear-gradient(91.17deg, #5097fa 0%, #5363ff 100%);
  border: none;
  border-radius: 8px;

  @include respond-to(tablet) {
    width: 164px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
  }

  @include respond-to(mobile) {
    gap: 10px;
    width: 335px;
    height: 50px;
    border-radius: 8px;
  }
}

.compare {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white-100;
}

.resultBox {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

.result {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;

  @include respond-to(tablet) {
    flex-direction: column;
  }
}

.colorText {
  color: $pink-100;
}

.reason {
  font-size: 16px;
  font-weight: 400;
  color: $gray-100;
}

.table {
  width: 940px;
  margin: 20px 0;
  font-size: 14px;
  text-align: left;
  background-color: $black-200;
  border-radius: 12px;

  @include respond-to(tablet) {
    width: 684px;
  }

  @include respond-to(mobile) {
    width: 335px;
    font-size: 12px;
  }
}

.trHead {
  color: $gray-100;
  border-bottom: 1px solid $gray-300;
}

.name {
  color: $gray-100;
}

.th {
  padding: 20px;
  text-align: center;

  @include respond-to(mobile) {
    padding: 15px;
  }
}

.td {
  padding: 30px;
  text-align: center;

  @include respond-to(mobile) {
    padding: 15px;
  }
}

.winner {
  color: $green-100;
}

.loser {
  color: $pink-100;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 255px);

  @include respond-to(tablet) {
    min-height: calc(100vh - 248px);
  }

  @include respond-to(mobile) {
    min-height: calc(100vh - 380px);
  }
}
