@import "@/styles/_index";

.container {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include rounded-full;
  background-color: transparent;
  border: 1px solid $gray-300;
}
