@import "@/styles/_index";
@import "@/styles/_media";

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;

  @include color-box {
    padding: 16px;
    padding-bottom: 25px;
  }

  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgb(0 0 0 / 30%);
    transform: scale(1.03);
  }

  &:active {
    background:
      linear-gradient($black-200, $black-200) padding-box,
      $blue-gradient border-box;
    border: 1px solid transparent;
  }

  @include respond-to(tablet) {
    padding-bottom: 20px;
  }

  @include respond-to(mobile) {
    padding: 10px;
  }
}

.image {
  width: 100%;
  height: auto;

  @include rounded-md;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .name {
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.2;
    color: $white-100;
    word-break: break-all;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

    @include text-lg;

    @include respond-to(tablet) {
      @include text-normal;
    }

    @include respond-to(mobile) {
      @include text-sm;
    }
  }
}

.infoDetailBox {
  display: flex;
  justify-content: space-between;

  @include respond-to(mobile) {
    flex-direction: column;
    gap: 5px;
  }
}

.reviewFavorite {
  display: flex;
  gap: 15px;
  color: $gray-200;

  @include text-normal;

  @include respond-to(tablet) {
    @include text-sm;
  }

  @include respond-to(mobile) {
    @include text-xs;
  }
}

.ratingBox {
  display: flex;
  gap: 2px;

  .icon {
    position: relative;
    width: 16px;

    @include respond-to(tablet) {
      width: 15px;
    }

    @include respond-to(mobile) {
      width: 12px;
    }
  }

  .rating {
    color: $gray-100;

    @include respond-to(tablet) {
      @include text-sm;
    }

    @include respond-to(mobile) {
      @include text-xs;
    }
  }
}
