@import "@/styles/_index";
@import "@/styles/_media";

.container {
  width: 250px;
  padding: 0 30px;
  color: $white-100;
  background-color: $bg-black-100;

  @include respond-to(tablet) {
    width: 100%;
    padding: 0;
  }
}

.header {
  margin-bottom: 30px;

  @include text-normal;

  @include respond-to(tablet) {
    padding-left: 30px;
  }

  @include respond-to(mobile) {
    padding-left: 20px;
  }
}

.ranking {
  width: 100%;

  @include respond-to(tablet) {
    padding-left: 30px;
  }

  @include respond-to(mobile) {
    padding-left: 0;
  }
}

.rankingBox {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include respond-to(tablet) {
    flex-direction: row;
    gap: 20px;
    padding: 0 20px 0 0;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @include respond-to(mobile) {
    padding: 0 20px;
  }
}
