$white-100: #f1f1f5;
$gray-100: #9fa6b2;
$gray-200: #6e6e82;
$gray-300: #353542;
$black-100: #2e2e3a;
$black-200: #252530;
$black-300: #21212a;
$black-400: #17171c;
$blue-100: #5097fa;
$blue-200: #5363ff;
$yellow-100: #ffc83c;
$green-100: #05d58b;
$pink-100: #ff2f9f;
$red-100: #f00;
$blue-gradient: linear-gradient($blue-100, $blue-200);
