@import "@/styles/_color";
@import "@/styles/_mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-pretendard), "맑은 고딕", "malgun gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo",
    "Microsoft NeoGothic", "Droid sans", sans-serif;
}

body {
  /* IE */
  scrollbar-base-color: $bg-black-100;
  scrollbar-track-color: $bg-black-100;
  scrollbar-highlight-color: $gray-300;
  scrollbar-face-color: $gray-300;
  scrollbar-shadow-color: $gray-300;
  scrollbar-darkshadow-color: $gray-300;
  scrollbar-arrow-color: $gray-300;

  /* chrome, edge, safari, whale, opera */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg-black-100;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black-100;

    @include rounded-md;

    &:hover {
      background-color: $gray-300;
    }
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
