* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "pretendard";
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}
