@import "@/styles/_color";

@mixin text-xs {
  font-size: 0.8rem;
}

@mixin text-sm {
  font-size: 0.9rem;
}

@mixin text-normal {
  font-size: 1rem;
}

@mixin text-lg {
  font-size: 1.2rem;
}

@mixin text-xl {
  font-size: 1.5rem;
}

@mixin font-light {
  font-weight: 300;
}

@mixin font-normal {
  font-weight: 400;
}

@mixin font-semibold {
  font-weight: 500;
}

@mixin font-bold {
  font-weight: 700;
}

@mixin rounded-xs {
  border-radius: 4px;
}

@mixin rounded-sm {
  border-radius: 6px;
}

@mixin rounded-md {
  border-radius: 8px;
}

@mixin rounded-lg {
  border-radius: 12px;
}

@mixin rounded-xl {
  border-radius: 28px;
}

@mixin rounded-full {
  border-radius: 50%;
}

@mixin color-box($backgroundColor: $black-200, $borderColor: $gray-300) {
  padding: 0.6rem 1rem;
  background-color: $backgroundColor;
  border: 1px solid $borderColor;

  @include rounded-lg;
  @content;
}

@mixin shadow {
  box-shadow: 0 0.1rem 0.8rem rgb(0 0 0 / 8%);
}
