.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80vw;
  padding: 3rem;
}

.uploader {
  width: 10rem;
  height: 10rem;
}

.imageList {
  display: flex;
  gap: 0.4rem;
  overflow-x: scroll;
}

.button {
  margin-top: auto;
}
