.delete {
  opacity: 0.5;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 35rem;
  width: 80vw;
  padding: 3rem;
}

.uploader {
  width: 10rem;
  height: 10rem;
}

.previewImageBox {
  position: relative;
}

.imageList {
  display: flex;
  gap: 0.4rem;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.button {
  margin-top: auto;
}
