@import "@/styles/_index";
@import "@/styles/_media";

.container {
  display: flex;
  align-items: center;
<<<<<<< HEAD
  justify-content: center;
  width: 3.2rem;
  height: 1.8rem;
  font-size: 1.2rem;
  border-radius: 5rem;

  @include respond-to(mobile) {
    width: 2.6rem;
    height: 1.6rem;
    font-size: 1rem;
=======
  border-radius: 3.2rem;
  width: 2.2rem;
  height: 1.2rem;
  @include text-xs;
  @include font-normal;

  @include respond-to(tablet) {
    width: 1.7rem;
    height: 1rem;
    @include text-xxs;
>>>>>>> origin
  }
}

.first {
  color: $pink-100;
  background-color: rgb(255 47 158 / 10%);
}

.second {
  color: $green-100;
  background-color: rgb(5 213 139 / 10%);
}

.third {
  color: $gray-100;
  background-color: rgb(255 200 60 / 10%);
}

.default {
  display: none;
}
