@import "@/styles/_index";

.container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $bg-black-100;

  .main {
    display: flex;
    justify-content: center;
    color: $white-100;
  }
}
