@import "@/styles/_index";
@import "@/styles/_media";

.headerText {
  @include text-xl;

  font-weight: 600;
  line-height: 28px;
  color: $white-100;

  span {
    white-space: nowrap;
  }

  @include respond-to(tablet) {
    @include text-lg;
  }

  @include respond-to(mobile) {
    span {
      display: block;
    }
  }
}
