@import "@/styles/_index";
@import "@/styles/_media";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonBox {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: start;
}

.selectButton {
  all: unset;
}

.active {
  color: red;
}
