@import "@/styles/_index";
@import "@/styles/_media";

.container {
  display: flex;
  gap: 1rem;

  .productImage {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    object-position: center;

    @include respond-to(tablet) {
      width: 7rem;
      height: 7rem;
    }
  }

  .name {
    display: -webkit-box;
    line-height: 1.2;
    color: $gray-100;
    -webkit-lineclamp: 3;
    -webkit-box-orient: vertical;

    @include font-light;

    @include respond-to(tablet) {
      @include text-sm;

      margin-bottom: 0.3rem;
    }
  }

  &:hover {
    .productImage {
      transition: transform 0.4s ease-in-out;
      transform: scale(1.1);
    }

    .name {
      color: $white-100;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100% - 11rem);

  @include respond-to(tablet) {
    gap: 0.8rem;
    width: calc(100% - 8rem);
  }

  @include respond-to(mobile) {
    gap: 1rem;
  }
}

.productImageBox {
  width: 8rem;
  height: 8rem;
  overflow: hidden;

  @include rounded-md;

  @include respond-to(tablet) {
    width: 7rem;
    height: 7rem;
  }
}

.logoBox {
  position: relative;
  width: 70px;
  height: 20px;

  @include respond-to(tablet) {
    width: 60px;
    height: 16px;
  }

  @include respond-to(mobile) {
    width: 70px;
    height: 20px;
  }
}

.priceBox {
  display: flex;
  gap: 0.4rem;
}

.price {
  color: $blue-100;

  @include font-normal;
}

.rocketImage {
  height: 1rem;
}
