@import "@/styles/_index";

.container {
  display: flex;
  gap: 1rem;

  &:hover {
    .productImage {
      transition: transform 0.4s ease-in-out;
      transform: scale(1.1);
    }
    .name {
      color: $white-100;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: calc(100% - 11rem);
}

.productImageBox {
  width: 8rem;
  height: 8rem;
  overflow: hidden;

  @include rounded-md;
}

.productImage {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  object-position: center;
}

.logoBox {
  position: relative;
  width: 70px;
  height: 20px;
}

.name {
  display: -webkit-box;
  -webkit-lineclamp: 3;
  -webkit-box-orient: vertical;
  color: $gray-100;
  line-height: 1.2;
  @include font-light;
}

.priceBox {
  display: flex;
  gap: 0.4rem;
}

.price {
  color: $blue-100;
  @include font-normal;
}

.rocketImage {
  height: 1rem;
}
