@import "@/styles/_index";
@import "@/styles/_media";

.container {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 30px;
  background-color: $bg-black-100;
  border-bottom: 1px solid rgba($color: $gray-100, $alpha: 10%);

  @include respond-to(tablet) {
    padding: 15px 30px;
  }

  @include respond-to(mobile) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 23px 20px;
  }
}

.logoBox {
  @include respond-to(mobile) {
    display: flex;
    justify-content: center;
  }
}

.logo {
  @include respond-to(tablet) {
    width: 138px;
    height: auto;
  }

  @include respond-to(mobile) {
    width: 112px;
    height: auto;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

    &.invisible {
      opacity: 0;
    }
  }
}

.menuIcon {
  position: absolute;
  display: none;

  @include respond-to(mobile) {
    position: static;
    display: block;
    cursor: pointer;
  }
}

.actionBox {
  display: flex;
  gap: 60px;
  align-items: center;

  @include respond-to(tablet) {
    gap: 30px;
  }

  @include respond-to(mobile) {
    position: absolute;
    right: 16px;
  }
}

.userAction {
  display: flex;
  gap: 60px;
  align-items: center;
  color: $white-100;

  @include text-normal;

  span {
    cursor: pointer;
  }

  @include respond-to(tablet) {
    gap: 30px;

    @include text-sm;
  }

  @include respond-to(mobile) {
    display: none;

    &.open {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 40px;
      color: $white-100;

      @include text-normal;
    }
  }
}

@keyframes sidebar-open {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.sidebar {
  @include respond-to(mobile) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 250px;
    padding: 23px 20px;
    background-color: $black-400;
    transform: translateX(-100%);

    &.open {
      display: block;
      animation: sidebar-open 0.5s forwards;
    }
  }
}

.closeIcon {
  display: none;

  @include respond-to(mobile) {
    position: absolute;
    top: 23px;
    left: 20px;
    display: block;
    cursor: pointer;
  }
}
