@import "@/styles/_index";
@import "@/styles/_media";

.container {
  width: 100%;
}

.section {
  padding: 60px 60px 20px 90px;

  @include respond-to(tablet) {
    padding-left: 25px;
  }

  @include respond-to(mobile) {
    padding: 30px 20px 20px;
  }
}

.header {
  @include text-xl;

  margin-bottom: 30px;
  font-weight: 600;
  color: $white-100;
  line-height: 42px;

  span {
    color: transparent;
    background: $blue-gradient;
    background-clip: text;
  }

  @include respond-to(tablet) {
    @include text-lg;
  }
}
