@import "@/styles/_index";

.container {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 6px 12px;
  font-size: 14px;
  color: $gray-100;
  cursor: pointer;
  background-color: $black-200;
  border: 1px solid $gray-300;
  border-radius: 100px;

  @include respond-to(mobile) {
    padding: 6px 10px;
    font-size: 12px;
  }
}

.active {
  color: #5363ff;
}
