@import "@/styles/_index";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: 1px solid $gray-300;

  @include rounded-full;
}
