@import "@/styles/_media";
@import "@/styles/_index";

.layout {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  padding: 2rem;

  @include respond-to(tablet) {
    gap: 2rem;
    padding: 1rem;
  }

  @include respond-to(mobile) {
    @include text-sm;

    gap: 1rem;
    padding: 0.8rem;
  }
}

.metricBox {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.title {
  @include font-bold;
  @include text-xl;

  @include respond-to(tablet) {
    @include text-normal;
  }

  @include respond-to(mobile) {
    @include text-sm;
  }
}
