@import "@/styles/_index";
@import "@/styles/_media";

.categoryToggle {
  display: none;

  @include respond-to(mobile) {
    position: fixed;
    top: 100px;
    right: 100px;
    display: block;
  }
}
