@import "@/styles/_index";
@import "@/styles/_media";

.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: start;
  justify-content: center;
  margin-top: 60px;
}

.activity {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  width: 940px;
}

.activityDetails {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.activityDetailText {
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
}
