@import "@/styles/_index";
@import "@/styles/_media";

.container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 8px 10px;
  font-size: 16px;
  border-radius: 6px;
}

.closeIcon {
  padding: 2px;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 6px;
  cursor: pointer;
}

.compare1 {
  color: $green-100;
  background-color: rgb(5 213 140 / 30%);
}

.compare2 {
  color: $pink-100;
  background-color: rgb(255 47 159 / 30%);
}
