@import "@/styles/_index";
@import "@/styles/_media";

.container {
  display: flex;

  .iconBox {
    position: relative;
    width: 18px;
    height: 18px;

    @include respond-to(tablet) {
      width: 14px;
      height: 14px;
    }
  }
}
